h1 {
  color: red;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgrey;
}

header .container {
  height: 100%;
}

header .container .header-left,
header .container .header-right {
  float: left;
  height: 100%;
}

header .container .header-left img {
  height: 50px;
  margin: 10px 0;
}

header .container .header-right {
  float: right;
  line-height: 70px;
}

header .container .header-right ul {
  list-style: none;
  text-align: right;
}

header .container .header-right li {
  display: inline-block;
  margin: 0 20px;
}

header .container .header-right li a {
  color: #565a5c;
}

.post {
  margin: 40px 0;
  border-bottom: 1px solid lightgrey;
}

.post h2 small {
  font-size: 15px;
  color: grey;
}

.post h3 {
  font-size: 20px;
}

.post img {
  max-width: 100%;
}

